POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=compensation_dev
POSTGRES_TEST_DB=compensation_test

REDIS_URL=redis://redis:6379/0

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=compensation-uploads-dev

RAILS_ENV=development
SECRET_KEY_BASE=
DEMO_HR_EMAIL=hr@example.com
DEMO_HR_PASSWORD=password123
FRONTEND_URL=http://localhost:3000
